.checktable thead {
  -webkit-box-shadow: 1px 6px 37px 2px rgba(0,0,0,0.47);
  -moz-box-shadow: 1px 6px 37px 2px rgba(0,0,0,0.47);
  box-shadow: 1px 6px 37px 2px rgba(0,0,0,0.47);
}

.checktable thead td:first-of-type {
  font-weight: bold;
  font-style: none;
  text-align: right;
  font-size: 25px;
}

.checktable tr {
  padding: 5px 10px;
  height: 55px;
}

.checktable tr:first-of-type td {
  font-weight: 400;
  font-style: italic;
  width: 150px;
}

.checktable tr > td {
  padding: 7px;
  text-align: center;
}

.checktable td:first-of-type {
  padding-right: 20px;
  text-align: right;
  min-width: 230px;
}

.checkrow > td:first-of-type {
  border-right: 3px solid #343434;
}

.checkrow:nth-of-type(even) {
  background-color: #ededed;
}

.checkrow tr:nth-of-type(odd) td {
  background-color: #000;
}

.titlerow {
  border: none;
  background-color: #343434;
  color: #FFFFFF;
}

.titlerow  td:first-of-type {
  text-align: center;
}

.checktable .checkrow td:not(:first-of-type) {
  color: #334500;
  font-weight: bold;
}
